@font-face {
    font-family: MontserratBold;
    src: url(./fonts/Montserrat/Montserrat-Bold.ttf);
}

body {
    padding: 0px;
    background-color:white;
    max-width: 1440px;
    display: block;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.header-logo {
    width: 101px;
    height: 34px;
    margin-left: 150px;
    margin-top: 56px;
    background-color: F8FAFA;
    border: 6px solid black;

}

.header {
    
    background-color: #F8FAFA;
    width: 1440px;
    height: 807px;
    display: flex;
    flex-direction: column
}

.header-title-description {
    text-transform: uppercase;
    font-family: MontserratBold;
    font-size: 45px;
    color: #505050;
    text-shadow: 5px 7px 6px #D2D3D5;
    opacity:1;
    text-align: center;
    margin-top: 193px;
    margin-left: 0px;
    letter-spacing: 0.042em;
    line-height: 1.3em;
}

.header-title-description span {
    background-color: #B2F2EE;
    width: 256px;
    height: 55px;
    padding: 0 10px; 
    margin: 0 -10px;
}

.header-button-container {
    

}
.header-button {
    
}